<div *ngIf="subject != undefined">
<!--  <div *ngIf="subjectsGrades != undefined">-->
<!--    {{subjectsGrades.name}} {{subjectsGrades.id}}-->
<!--    <br>-->
<!--  </div>-->
<!--  {{subject.name}} {{subject.description}}-->
<!--<ul *ngFor="let student of subject.studentSet">-->
<!--  <li>-->
<!--    {{student.id}} {{student.firstname}} {{student.lastname}}-->
<!--  </li>-->
<!--</ul>-->
<!--  <ul *ngFor="let grade of subject.gradeList">-->
<!--    <li>-->
<!--      {{grade.mark}} {{grade.id}} {{grade.student.id}}-->
<!--    </li>-->
<!--  </ul>-->
<!--  <button mat-raised-button (click)="addColumn()"> Add column </button>-->
<!--  <button mat-raised-button (click)="removeColumn()"> Remove column </button>-->

 <div *ngIf="subjectsGrades.student">
    <form [formGroup]="gradesForm" (ngSubmit)="sendGrades()">
  <table mat-table [dataSource]="subjectsGrades.student" class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> id </th>
      <td mat-cell *matCellDef="let element"> {{element.student_id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="firstname">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef> lastname </th>
      <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
    </ng-container>

    <ng-container [matColumnDef]="column" *ngFor="let column of displayedGradesColumns; index as i">

      <th mat-header-cell *matHeaderCellDef> {{column}} </th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="element.grades[i] != undefined, else noGrade">{{element.grades[i].mark}}</div>
        <ng-template #noGrade>
        No Grade
      </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="grade">
      <th mat-header-cell *matHeaderCellDef> grade </th>
      <td mat-cell *matCellDef="let element">

        <div [formGroup]="element.gradeForm" style="display: flex; flex-direction: column; max-width: 100px; width: 100px">
          <input formControlName="mark" type="number" step="any" placeholder="19.5" style="width: 60px">
          <label *ngIf="element.gradeForm.get('mark')?.errors?.['max']" class="form-error">
            grade must be between < 20
          </label>
          <label *ngIf="element.gradeForm.get('mark')?.errors?.['min']" class="form-error">
            grade must be between > 0
          </label>
        </div>

      </td>

    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
      <button type="submit"> Submit </button>
      <ng-container *ngIf="errorMessage.length != 0"><div style="text-align: center">{{errorMessage}}</div></ng-container>
<!--      <label *ngIf="gradesForm.invalid" class="form-error">-->
<!--        Team name is required.-->
<!--      </label>-->
    </form>
</div>
</div>
