<p>students works!</p>

get id => see only that when log in
<!--<form #myForm="ngForm" (ngSubmit)="onSubmitTemplateBased(myForm.value)">-->
<!--<div *ngFor="let a of subjectRegister(); let i = index">-->
<!--  <br>-->
<!--  {{a}}-->
  <div style="width:50%">
    <form [formGroup]="dropDownForm" (ngSubmit)="dropDownSubmitted()">
    <ng-multiselect-dropdown
      [settings]="dropdownSettings"
      [data]="subjectRegisterList()"
    formControlName="mySubjects">

    </ng-multiselect-dropdown>
      <input formControlName="id" type="number">
<!--      {{mySubjects}}-->
      <button type="submit">Send</button></form>
  </div>
<!--    <select required [(ngModel)]="selectedValue" name="{{i}}">-->
<!--      <option value="" selected>Select a subject</option>-->
<!--      <option *ngFor="let subject of subjectRegisterList()" [ngValue]="subject.id"  name="{{i + subject.id}}" ngModel>-->
<!--        {{subject.name}}-->
<!--        {{a}}-->
<!--      </option>-->
<!--    </select>-->
<!--  {{selectedValue| json}}-->
<!--</div>-->
<!--</div>-->
<!--</form>-->
<!--{{myform.value | json}}-->
<!--<button (click)="addNumberOfSubject()">Add Subject</button>-->
<label>id :
  <input type="number" #id />
</label>

<br>
<button (click)="getById(id.value)">get by id</button>
<div *ngIf="student != undefined">{{student.firstname}} {{student.lastname}} {{student.email}} </div>
<br>
<br>
<br>
patch/register/id

- dropdown des noms de matieres dispos

<br>
- btn submit en passant set ["id": number, ..]

<br>
patch/unregister/id
<br>
see his subjects
<br>
see his marks
<br>
<br>

<div>
  POST
  <label>Student firstname:
    <input #studentFirstName />
  </label>
  <br>
  <label>Student lastname:
    <input #studentLastName />
  </label>
  <br>
  <label>Student mail:
    <input #studentEmail />
  </label>
  <br>
  <button (click)="add(studentFirstName.value, studentLastName.value, studentEmail.value);
    studentFirstName.value = ''; studentLastName.value = ''; studentEmail.value = ''">
          add
  </button>

    <div *ngIf="addResponse != undefined"> {{addResponse.firstname}} {{addResponse.lastname}} {{addResponse.id}} </div>
  <br>
</div>

<!--<ul>-->
<!--  <li *ngFor="let student of studentList()">-->
<!--    {{student.id}} {{student.firstname}} {{student.email}} {{student.lastname}} {{student.telephone}}-->
<!--    <button [class.selected]="student === selectedStudent" type="button" (click)="modify(student)">modify student</button>-->
<!--    <button [class.selected]="student === selectedStudentPhone" type="button" (click)="modifyPhone(student)">modify Phone</button>-->
<!--    <button [class.selected]="student === selectedStudentEmail" type="button" (click)="modifyEmail(student)">modify Email</button>-->
<!--   &lt;!&ndash; <button (click)="modifyPhone(student)">modify phone</button>-->
<!--    <button (click)="modifyEmail(student)">modify email</button>&ndash;&gt;-->
<!--    &lt;!&ndash;{{student.firstname}}-->
<!--    {{student.lastname}}-->
<!--    {{student.telephone}}&ndash;&gt;-->


<!--  </li>-->
<!--</ul>-->
<!--<br>-->
