
    <div *ngIf="student != undefined">
      Welcome {{student.firstname}} {{student.lastname}} {{student.id}} {{student.email}}!
    </div>


    <div class="card subjects">
    MY MARKS

    <div *ngIf="student.gradeList.length != 0">
      <table mat-table [dataSource]="subjectsGrades" class="mat-elevation-z8">

<!--        <ng-container matColumnDef="id">-->
<!--          <th mat-header-cell *matHeaderCellDef> id </th>-->
<!--          <td mat-cell *matCellDef="let element"> {{element.id}} </td>-->
<!--        </ng-container>-->

        <ng-container matColumnDef="subject">
          <th mat-header-cell *matHeaderCellDef> Subject </th>
          <td mat-cell *matCellDef="let element"> {{element.subject}} </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

        <ng-container [matColumnDef]="column" *ngFor="let column of displayedGradesColumns; index as i">

          <th mat-header-cell *matHeaderCellDef> {{column}} </th>
          <td mat-cell *matCellDef="let element">
            <div *ngIf="element.grades[i] != undefined, else noGrade">{{element.grades[i].mark}}</div>
            <ng-template #noGrade>
              -
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef> Total </th>
          <td mat-cell *matCellDef="let element"> {{element.total}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    </div>

    <div style="position: relative; display: flex; margin-top: 90px">
      <div class="card">
        <div class="behind-text">
      My Information
        </div>
        <div class="behind"></div>
        <div class="abs">
      <form name="formStudentInfo" (ngSubmit)="f.form.valid && pathStudentInfos()" #f="ngForm" novalidate>
      <label>
        Firstname:
      </label>
      <input name="firstname" #firstname="ngModel" [(ngModel)]="formStudentInfo.firstname"
         required type="text"/>

        <div *ngIf="f.submitted && firstname.invalid">
        <div *ngIf="['firstname.errors?.required']" class="form-error">Firstname is required</div>
        </div>

        <label>lastname:

        <input name="lastname" #lastname="ngModel" [(ngModel)]="formStudentInfo.lastname"
               required type="text"/>

      </label>
        <div *ngIf="f.submitted && lastname.invalid">
          <div *ngIf="['lastname.errors?.required']" class="form-error">Lastname is required</div>
        </div>

      <label>email:
        <input name="email" #email="ngModel" [(ngModel)]="formStudentInfo.email"
               required type="text"/>
      </label>
        <div *ngIf="f.submitted && email.invalid">
          <div *ngIf="['email.errors?.required']" class="form-error">Email is required</div>
        </div>
      <button type="submit">
        add
      </button>
        <div *ngIf="f.submitted">
          {{patchInfosResponse}}
        </div>
    </form>
        </div>
  </div>

    <div class="card">
      <div class="behind-text">
    REGISTER SUBJECTS
      </div>
      <div class="behind"></div>
      <div class="abs">
    <form [formGroup]="dropDownForm" (ngSubmit)="dropDownSubmitted()">
    <ng-multiselect-dropdown
      [settings]="dropdownSettings"
      [data]="subjectRegisterList()"
    formControlName="mySubjects">

    </ng-multiselect-dropdown>
      <button type="submit">Send</button></form>


      </div>
    </div>


    <div class="card">
      <div class="behind-text">
    UNREGISTER SUBJECTS
      </div>
      <div class="behind"></div>
      <div class="abs">
    <form [formGroup]="dropDownFormUnregister" (ngSubmit)="dropDownSubmittedUnregister()">
      <ng-multiselect-dropdown
        [settings]="dropdownSettings"
        [data]="subjectUnRegisterList()"
        formControlName="ToUnRegister">

      </ng-multiselect-dropdown>
      <!--      {{mySubjects}}-->
      <button type="submit">Send</button></form>
      </div>
    </div>
    </div>
