modify {
  display: none;
}
modifyPhone {
  display: none;
}
modifyEmail {
  display: none;
}
table {
  width: 100%;
}

button {
  background-color: #FFC099;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-weight: 600;
  font-size: 15px;
  padding: 0 13px;
  line-height: 35px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 05px;
  width: 110px;
}
button:hover {
  background-color: #FFFEFC;
}

button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

.form-error {
  font-size: 12px;
  color: darkred;
}

.card {
  padding: 20px;
  width: 300px;
  max-width: 300px;
  height: 180px;
  border-radius: 20px;
  box-shadow: 0 0 10px 2px #d0d0d0;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  position: relative;
}

.card:hover .behind{
  background: transparent;
  transform: translate(0, -100%);
  z-index: 0;
  transition: transform 0.5s linear, background 0.6s linear;
}

.card:hover .behind-text{
  /*color: transparent;*/
  font-size: smaller;
  transform: translate(-140px, -100px);
  transition: transform 0.5s linear;
}


.card:focus {
  /*background: chocolate!important;*/
}

.card:hover .abs{
  color: black;
  transition: color 0.3s linear;
  /*background: cornflowerblue;*/
  /*transition: background 0.3s linear;*/
}

.register {
  /*height: 100%;*/
  top: 30% !important;
  /*left: 50%;*/
  /*transform: translate(-50%, -50%);*/
  /*padding-right: 50px;*/
  /*width: 45% !important;*/
}

.registration {
  height: 100%;
  /*margin-top: 100px;*/


}

.subjects {
  margin-top: 80px;
  margin-bottom: 80px;
  max-width: 70%;
  width: 70% !important;
  height: fit-content;
}

.behind {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: #FF8E47;
  width: 100%;
  /*max-width: inherit;*/
  height: 100%;
  transform: translate(0%, 0%);
  transition: background 0.5s, transform 2s;
}

.behind-text{
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  font-weight: bold;
  width: fit-content;
  transition: transform 2s;
}


.abs {
  position: absolute;
  z-index: 1;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  color: transparent;
  transition: color 1s linear;
  width: 60%;
}

input {
  border: 0.5px solid #333333;
}


.form-error {
  font-size: 12px;
  color: darkred;
}

label {
  width: 100%;
  display: grid;
}

