<p>students works!</p>


<div>
  <label>Student firstname:
    <input #studentFirstName />
  </label>
  <br>
  <label>Student lastname:
    <input #studentLastName />
  </label>
  <br>
  <label>Student mail:
    <input #studentEmail />
  </label>
  <br>
  <label>Student phone:
    <input #studentTelephone />
  </label>
  <br>
  <button (click)="add(studentFirstName.value, studentLastName.value, studentEmail.value, studentTelephone.value);
    studentFirstName.value = ''; studentLastName.value = ''; studentEmail.value = ''; studentTelephone.value=''">
          add
  </button>
</div>

<ul>
  <li *ngFor="let student of studentList()">
    {{student.id}} {{student.firstname}} {{student.email}} {{student.lastname}} {{student.telephone}}
    <button [class.selected]="student === selectedStudent" type="button" (click)="modify(student)">modify student</button>
    <button (click)="delete(student)">delete</button>
    <button [class.selected]="student === selectedStudentPhone" type="button" (click)="modifyPhone(student)">modify Phone</button>
    <button [class.selected]="student === selectedStudentEmail" type="button" (click)="modifyEmail(student)">modify Email</button>
   <!-- <button (click)="modifyPhone(student)">modify phone</button>
    <button (click)="modifyEmail(student)">modify email</button>-->
    <!--{{student.firstname}}
    {{student.lastname}}
    {{student.telephone}}-->


  </li>
</ul>
<app-modify-student [student]="selectedStudent"></app-modify-student>
<app-modify-student-phone [student]="selectedStudentPhone"></app-modify-student-phone>
<app-modifystudentemail [student]="selectedStudentEmail"></app-modifystudentemail>
<button (click)="deleteAll()">delete ALL STUDENTS</button>
<br>
<label>id :
  <input type="number" #id />
</label>
<br>
<button (click)="getById(id.value)">get by id</button>
<div *ngIf="student != undefined">{{student.firstname}} {{student.lastname}} {{student.email}} {{student.telephone}}</div>

