<p>modify-student works!</p>
<div *ngIf="student">
  Modify {{student.id}}
  <label>Student firstname:
    <input #studentFirstName />
  </label>
  <br>
  <label>Student lastname:
    <input #studentLastName />
  </label>
  <br>
  <label>Student mail:
    <input #studentEmail />
  </label>
  <br>
  <label>Student phone:
    <input #studentTelephone />
  </label>
  <br>
  <button (click)="put(student.id, studentFirstName.value, studentLastName.value, studentEmail.value, studentTelephone.value);
    studentFirstName.value = ''; studentLastName.value = ''; studentEmail.value = ''; studentTelephone.value=''">
    put
  </button>
</div>