<div *ngIf="isSignedUp; else signupForm">
  Your registration is successful. Please login!
</div>

<ng-template #signupForm >
  <div style="float: left; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); padding: 30px; border-radius: 25px;">
    <mat-card>
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
<!--        <label id="role">Choose your role<br></label>-->
<!--        <mat-radio-group-->
<!--          aria-labelledby="role"-->
<!--          class="form-control"-->
<!--          [(ngModel)]="form.role" #role="ngModel" required>-->
<!--          <mat-radio-button value="student" #role="ngModel" [(ngModel)]="form.role">-->
<!--            Student-->
<!--          </mat-radio-button>-->
<!--          <mat-radio-button value="teacher" [(ngModel)]="form.role" #role="ngModel">-->
<!--            Teacher-->
<!--          </mat-radio-button>-->
<!--        </mat-radio-group>-->
<!--        <label for="role" id="role">Role</label>-->
        <input type="radio" class="form-control" name="role" [(ngModel)]="form.role" #role="ngModel" value="student"/> Student
        <input type="radio" class="form-control" name="role" [(ngModel)]="form.role" #role="ngModel" value="teacher"/> Teacher
        <div *ngIf="f.submitted && role.invalid">
          <div *ngIf="['role.errors?.required']">Role is required</div>
        </div>
      </div>
      <div class="form-group">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label for="username" id="username">Username</mat-label>
          <input matInput placeholder="elon.musk" name="username" [(ngModel)]="form.username" #username="ngModel" required>
        </mat-form-field>
<!--        <label for="username" id="username">Username</label>-->
<!--        <input type="text" class="form-control" name="username" [(ngModel)]="form.username" #username="ngModel"-->
<!--               required />-->
        <div *ngIf="f.submitted && username.invalid">
          <div *ngIf="['username.errors?.required']">Username is required</div>
        </div>
      </div>

      <div class="form-group">

        <mat-form-field class="full-width" appearance="fill">
          <mat-label for="password" id="password">Password</mat-label>
          <input matInput placeholder="********" type="password" name="password" [(ngModel)]="form.password" #password="ngModel" required minlength="6">
        </mat-form-field>
<!--        <label for="password" id="password">Password</label>-->
<!--        <input type="password" class="form-control" name="password" [(ngModel)]="form.password" #password="ngModel"-->
<!--               required minlength="6" />-->
        <div *ngIf="f.submitted && password.invalid">
          <div *ngIf="['password.errors?.required']">Password is required</div>
          <div *ngIf="['password.errors?.minlength']">Password must be at least 6 characters</div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary">Register</button>
        <div *ngIf="f.submitted && isSignUpFailed" class="alert alert-warning">
          Signup failed!<br/>{{errorMessage}}
        </div>
      </div>
    </form></mat-card>
  </div>
</ng-template>
